.formcontainer {
  padding: var(--padding-main);
  background-image: url("/assets/images/background_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  max-width: var(--max-width-form);
  z-index: 0;
}

.formoverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.formTitle {
  width: 100%;
  color: var(--primary-50);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

.myform {
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  gap: var(--padding-main);
  width: 100%;
}

.inputcontainer input {
  width: 100%;
  padding: var(--padding-light);
  border: none;
  border-radius: var(--border-radius-light);
  background-color: var(--primary-80);
  color: var(--text-primary);
  font-size: 1.1rem;
  outline: none;
}

.inputcontainer {
  position: relative;
}
.inputcontainer label {
  font-size: 0.75rem;
  color: var(--text-bright);
  position: absolute;
  top: -15px;
}

.myform input:focus {
  background-color: var(--primary-60);
  color: var(--text-bright);
}

.myform input:focus::placeholder {
  color: var(--text-bright);
}

.myform input::placeholder {
  color: var(--text-dark);
}
