.footer {
  background-color: var(--primary-100);
  padding:1rem;
}

.footercontainer {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.footerheading {
  color: var(--primary-50);
  font-size: 1.5rem;
  text-align: start;
  font-weight: bold;
  position: absolute;
  top: -2rem;
}

.sociallink {
  font-size: 1.8rem;
  background-color: var(--white-100);
  color: var(--black-100);
  padding: 0.2rem;
  display: flex;
  width: min-content;
  border-radius: var(--border-radius);
}

.mail a{
  color:red !important;
  font-size: 1rem !important;
}

@media only screen and (max-width:768px) {
  .footer {
    padding:1rem 0;
    margin-top:5rem;
  }
  .footercontainer {
    flex-direction: column-reverse;
  }
  .footerLogo{
    text-align: center;
    margin:1.5rem 0;
  }
  .email{
    font-size: 0.8rem !important;
    font-weight: 600;
  }
  .copyright{
    font-size: 0.8rem !important;
    padding:4px;
  }
}
@media only screen and (min-width:768px) and (max-width:1200px) {
  .footer {
    padding:1rem 0;
    margin-top:5rem;
  }
}