.socials a:hover {
	background-color: var(--white-110) !important;
}
@media screen and (min-width: 768px) {
	.footer {
		display: grid !important;
	}
	.footerHeading {
		text-align: left !important;
		margin-left: 2rem !important;
	}
	.footerLocation {
		font-size: 1rem !important;
	}
	.supportEmails {
		font-size: 1.125rem !important;
	}
}
