.sectionContainer {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding-main);
  background: var(--primary-100);
  border-radius: var(--border-radius);
  position: relative;
}

.tabButton {
  border: 1px solid var(--text-primary);
  padding: var(--padding-light);
  font-size: 1.5rem;
  width: 10rem;
  text-align: center;
  border-radius: var(--border-radius);
}

.tabButton:hover {
  box-shadow: 0 0 10px var(--primary-50);
  cursor: context-menu;
}

.orderCard {
  border: 1px solid var(--text-primary);
  padding: var(--padding-light);
  width: var(--card-width);
  border-radius: var(--border-radius);
}

.orderCard:hover {
  box-shadow: 0 0 10px var(--primary-50);
  cursor: context-menu;
}
