.sectionContainer {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding-main);
  background: var(--primary-100);
  border-radius: var(--border-radius);
  position: relative;
}

.tabButton {
  border: 1px solid var(--text-primary);
  padding: var(--padding-light);
  font-size: 1.5rem;
  width: 10rem;
  text-align: center;
  border-radius: var(--border-radius);
}

.tabButton:hover {
  box-shadow: 0 0 10px var(--primary-50);
  cursor: context-menu;
}

.orderCard {
  border: 1px solid var(--text-primary);
  padding: var(--padding-light);
  width: var(--card-width);
  border-radius: var(--border-radius);
}

.orderCard:hover {
  box-shadow: 0 0 10px var(--primary-50);
  cursor: context-menu;
}

.dotmenu {
  position: absolute;
  top: var(--padding-main);
  right: var(--padding-main);
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
}
.dotmenu:hover {
  box-shadow: 0 0 20px var(--primary-50);
}

.menuContainer {
  position: absolute;
  top: var(--padding-main);
  right: var(--padding-large);
  padding: var(--padding-light);
  background-color: var(--primary-80);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--padding-light);
}
