.title {
  width: 100%;
  color: var(--primary-50);
  font-size: 1.5rem;
  font-weight: 600;
  padding: var(--padding-light);
  text-align: center;
}

.blogImageContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.textDisplay {
  width: 100%;
  text-align: justify;
  color: var(--text-primary);
}
