@media screen and (min-width: 1024px) {
	.whybitmemoir-content {
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: 0 15%;
	}
	.heroHeading {
		font-size: 4rem !important;
		margin: 5rem 0 0 5rem !important;
	}
	.heroSubheading {
		font-size: 1.5rem !important;
		margin-left: 5rem !important;
	}
	.whybitmemoirHeading {
		font-size: 4rem !important;
	}
	.freeTrialButton {
		display: flex !important;
	}
	.hero {
		flex-direction: row !important;
	}
	.heroBackgroundImage {
		display: block !important;
	}
	.diamond-2 {
		display: block !important;
	}
	.heroDiamondMobile {
		display: none !important;
	}
}
.freeTrialButton:hover {
	background-color: var(--white-110) !important;
}
@media screen and (min-width: 1200px) {
	.diamond-3,
	.diamond-1 {
		display: block !important;
	}
}
