:root {
  --max-width: 1100px;
  --template-max-width: 720px;
  --min-height: 500px;
  --padding-main: 20px;
  --padding-light: 10px;
  --padding-extra-light: 5px;
  --border-radius: 12px;
  --border-radius-light: 6px;
  --background-primary: #59069a;
  --background-secondary: #d4c7dd;
  --background-dark: #23023b;
  --text-primary: rgb(230, 230, 230);
  --text-bright: rgb(255, 255, 255);
  --text-dark: rgb(150, 150, 150);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--text-primary);
  background: var(--background-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.link {
  margin: var(--padding-light);
  font-size: 1.5rem;
}

.link:hover {
  border-bottom: 1px solid white;
  color: var(--text-bright);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
