:root {
  --max-width: 1600px;
  --max-width-form: 500px;
  --nav-height: 100px;
  --template-max-width: 720px;
  --template-width: 1080px;
  --template-height: 810px;
  --card-width: 220px;
  --min-height: 500px;
  --min-height-screen: 90vh;
  --padding-main: 20px;
  --padding-light: 10px;
  --padding-large: 100px;
  --padding-extra-light: 5px;
  --border-radius: 4px;
  --border-radius-light: 2px;
  --text-shadow-emphasis: 0 0 1rem white;

  /* Media queries */

  --screen-medium: 720px;

  /* Primary palette */
  --primary-50: #00d4ff;
  --primary-60: #0094b2;
  --primary-70: #01708684;
  --primary-80: #004c5c;
  --primary-90: #003f4c;
  --primary-100: #0f303e;
  --primary-110: #001d23;

  /* Backgrounds */
  --bg-90: #003f4caf;

  /* Neutral Palette */
  --black-100: #000000;
  --white-100: #ffffff;
  --white-110: #f0f0f0;

  --background-dark: #23023b;
  --text-primary: rgb(230, 230, 230);
  --text-bright: rgb(255, 255, 255);
  --text-dark: rgb(150, 150, 150);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  color: var(--text-primary);
  background-color: var(--primary-110);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* fonts-------------------------------------------------------- */
@font-face {
  font-family: "Crimson-normal";
  src: url("/fonts/Crimson_Text/CrimsonText-Regular.ttf");
}
@font-face {
  font-family: "Crimson-bold";
  src: url("/fonts/Crimson_Text/CrimsonText-Bold.ttf");
}
@font-face {
  font-family: "Crimson-italic";
  src: url("/fonts/Crimson_Text/CrimsonText-Italic.ttf");
}
@font-face {
  font-family: "Crimson-bolditalic";
  src: url("/fonts/Crimson_Text/CrimsonText-BoldItalic.ttf");
}

@font-face {
  font-family: "Lato-normal";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-italic";
  src: url("/fonts/Lato/Lato-Italic.ttf");
}
@font-face {
  font-family: "Lato-bolditalic";
  src: url("/fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat-normal";
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("/fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-italic";
  src: url("/fonts/Montserrat/static/Montserrat-Italic.ttf");
}
@font-face {
  font-family: "Montserrat-bolditalic";
  src: url("/fonts/Montserrat/static/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Open_Sans-normal";
  src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open_Sans-bold";
  src: url("/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open_Sans-italic";
  src: url("/fonts/Open_Sans/static/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "Open_Sans-bolditalic";
  src: url("/fonts/Open_Sans/static/OpenSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Playfair_Display-normal";
  src: url("/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Playfair_Display-bold";
  src: url("/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "Playfair_Display-italic";
  src: url("/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf");
}
@font-face {
  font-family: "Playfair_Display-bolditalic";
  src: url("/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf");
}

@font-face {
  font-family: "PT_Sans-normal";
  src: url("/fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
  font-family: "PT_Sans-bold";
  src: url("/fonts/PT_Sans/PTSans-Bold.ttf");
}
@font-face {
  font-family: "PT_Sans-italic";
  src: url("/fonts/PT_Sans/PTSans-Italic.ttf");
}
@font-face {
  font-family: "PT_Sans-bolditalic";
  src: url("/fonts/PT_Sans/PTSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Quicksand-normal";
  src: url("/fonts/Quicksand/static/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand-bold";
  src: url("/fonts/Quicksand/static/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "Quicksand-italic";
  src: url("/fonts/Quicksand/static/Quicksand-Light.ttf");
}
@font-face {
  font-family: "Quicksand-bolditalic";
  src: url("/fonts/Quicksand/static/Quicksand-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto-normal";
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-italic";
  src: url("/fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-bolditalic";
  src: url("/fonts/Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Source_Sans_3-normal";
  src: url("/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf");
}
@font-face {
  font-family: "Source_Sans_3-bold";
  src: url("/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf");
}
@font-face {
  font-family: "Source_Sans_3-italic";
  src: url("/fonts/Source_Sans_3/static/SourceSans3-Italic.ttf");
}
@font-face {
  font-family: "Source_Sans_3-bolditalic";
  src: url("/fonts/Source_Sans_3/static/SourceSans3-BoldItalic.ttf");
}
