.primaryButton {
  border: 1.5px solid var(--primary-60);
  background-color: var(--primary-60);
  font-size: 1.5rem;
  padding: var(--padding-light);
  color: var(--text-primary);
  border-radius: var(--border-radius-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.primaryButton:hover {
  box-shadow: 0px 0px 5px white;
  border: 1px solid var(--text-bright);
  color: var(--text-bright);
}

.secondaryButton {
  border: 1.5px solid var(--primary-60);
  font-size: 1.5rem;
  padding: var(--padding-light);
  color: var(--text-primary);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.secondaryButton:hover {
  box-shadow: 0px 0px 5px white;
  border: 1px solid var(--text-bright);
  color: var(--text-bright);
}
.tertiaryButton {
  font-size: 1rem;
  padding: var(--padding-light);
  color: var(--primary-50);
  text-decoration: underline;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.tertiaryButton:hover {
  text-shadow: 0px 0px 5px white;
  color: var(--text-bright);
}

.emphasisButton {
  border: 1px solid transparent;
  background-color: var(--text-bright);
  font-size: 1.5rem;
  padding: var(--padding-light);
  color: var(--primary-60);
  font-weight: 700;
  border-radius: var(--border-radius-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.emphasisButton:hover {
  border: 1px solid var(--primary-50);
  color: var(--primary-50);
}

.loading {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
