.tool {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  position: relative;
}

.tool:hover {
  border: 2px solid white;
}

.tool:focus {
  border: 2px solid grey;
}

.toptool {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  position: relative;
}

.toptool:hover {
  border: 2px solid white;
}

.toptool:focus {
  border: 2px solid grey;
}

.tooltip {
  position: absolute;
  top: 0px;
  left: 50px;
  background-color: var(--background-secondary);
  padding: var(--padding-light);
  text-align: left;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}
.toptooltip {
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: var(--background-secondary);
  padding: var(--padding-light);
  text-align: left;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}

.template {
  width: 100%;
  max-width: var(--template-max-width);
  box-shadow: 2px 2px 5px black;
  background-color: var(--text-primary);
  aspect-ratio: 4/3;
  position: relative;
}

.template-bar{
  width: 30%;
  height: 100vh;
  
}