@media screen and (min-width: 1024px) {
	.faqs {
		margin: 10rem !important;
		border-radius: 0.5rem;
	}
	.faqsHeading {
		text-align: left !important;
		margin-left: 3rem;
		font-size: 3rem !important;
		color: var(--primary-50);
	}
}
@media screen and (min-width: 768px) {
	.faqs {
		margin-top: 10rem !important;
	}
}
