.sideToolBar {
  padding: var(--padding-light);
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--padding-light);
  margin-top: 10rem;
}

.tool {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  position: relative;
}

.tool:hover {
  border: 2px solid white;
}

.tool:focus {
  border: 2px solid grey;
}

.toptoolContainer {
  width: 100%;
  max-width: var(--template-width);
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  padding: var(--padding-extra-light);
  display: flex;
  gap: var(--padding-light);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.toptool {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  position: relative;
}

.toptool:hover {
  border: 2px solid white;
}

.toptool:focus {
  border: 2px solid grey;
}

.tooltip {
  position: absolute;
  top: 0px;
  left: 60px;
  background-color: var(--primary-80);
  padding: var(--padding-light);
  text-align: left;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}
.toptooltip {
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: var(--primary-80);
  padding: var(--padding-light);
  text-align: left;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}

.bottomToolBarContainer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
}

.bottomToolBar {
  padding: var(--padding-light);
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--padding-light);
}

.bottomtooltip {
  position: absolute;
  bottom: 60px;
  left: 0px;
  background-color: var(--primary-80);
  padding: var(--padding-light);
  text-align: left;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}

.canvas {
  width: var(--template-width);
  height: var(--template-height);
  box-shadow: 2px 2px 5px black;
  background-color: var(--text-primary);
  aspect-ratio: 4/3;
  position: relative;
  transform-origin: top;
  background-size: var(--template-width) var(--template-height);
  background-position: center;
  background-repeat: no-repeat;
}

.template-bar {
  width: 30%;
  height: 100vh;
}

@media only screen and (max-width: 1150px) {
  .sideToolBar {
    display: none;
  }
  .bottomToolBarContainer {
    display: flex;
  }
}
