.tool {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  position: relative;
}

.tool:hover {
  border: 2px solid white;
}

.tool:focus {
  border: 2px solid grey;
}

.toptool {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  position: relative;
}

.toptool:hover {
  border: 2px solid white;
}

.toptool:focus {
  border: 2px solid grey;
}

.tooltip {
  position: absolute;
  top: 0px;
  right: 60px;
  background-color: var(--primary-80);
  padding: var(--padding-light);
  text-align: right;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}
.toptooltip {
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: var(--primary-80);
  padding: var(--padding-light);
  text-align: left;
  border-radius: var(--border-radius);
  width: 200px;
  z-index: 1;
}

.canvas {
  width: var(--template-width);
  height: var(--template-height);
  box-shadow: 2px 2px 5px black;
  background-color: var(--text-primary);
  aspect-ratio: 4/3;
  position: relative;
  background-size: var(--template-width) var(--template-height);
  background-position: center;
  background-repeat: no-repeat;
}

.template-bar {
  width: 30%;
  height: 100vh;
}

.variabletext {
  position: absolute;
}

.variabletext textarea {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background: none;
  outline: none;
  padding: var(--padding-light);
  width: auto;
  min-width: 100px;
  resize: none;
}

.variabletext textarea:hover {
  cursor: grab;
  border: 1px solid var(--primary-50);
  box-shadow: 0 0 10px var(--primary-110);
}
.variabletext textarea:focus {
  border: 1px solid var(--primary-50);
  box-shadow: 0 0 10px var(--primary-110);
}

.textOptions {
  border-radius: var(--border-radius);
  background-color: var(--primary-100);
  color: var(--text-primary);
  font-size: 1rem;
  padding: var(--padding-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-light);
  position: absolute;
  top: -80px;
  width: 600px;
}

.textOptions .option {
  font-size: 1rem;
  border: 1px solid var(--primary-50);
  border-radius: var(--border-radius-light);
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: context-menu;
}
.textOptions input {
  font-size: 1rem;
  border: 1px solid var(--primary-50);
  border-radius: var(--border-radius-light);
  height: 2rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
