.logoContainer {
  position: absolute;
  width: fit-content;
  border: 1px solid transparent;
  animation: initiatevariable 1s;
  background-position: center;
  background-repeat: no-repeat;
}
.logoContainer:hover {
  border: 1px solid var(--primary-50);
  cursor: grab;
  box-shadow: 0 0 10px var(--primary-50);
}

.cornerHandle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: var(--primary-50);
  border: 1px solid transparent;
}
.cornerHandle:hover {
  border: 1px solid var(--primary-110);
  box-shadow: 0 0 10px var(--text-primary);
}

.horizontalHandle {
  width: 50px;
  height: 10px;
  border-radius: 10px;
  background: var(--primary-50);
  border: 1px solid transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.horizontalHandle:hover {
  border: 1px solid var(--primary-110);
  box-shadow: 0 0 10px var(--text-primary);
}
.verricalHandle {
  width: 10px;
  height: 50px;
  border-radius: 10px;
  background: var(--primary-50);
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.verricalHandle:hover {
  border: 1px solid var(--primary-110);
  box-shadow: 0 0 10px var(--text-primary);
}

@keyframes initiatevariable {
  from {
    box-shadow: 0 0 50px var(--primary-50);
  }
  to {
    box-shadow: 0 0 0px var(--primary-50);
  }
}
